In [1]:
import pandas as pd

df = pd.read_csv('dataset/conditional_probability.csv')
df

      Level of Education  Under $20000  $20000 to $30000  Over $30000
0  Less than high school            69                36            2
1            High School           112                98           14
2           Some College           102               193          143
3           Some College            13               173          245

In [2]:
# P(employee has less than a high school education) = The probability of a employee that had less than a high school education

total_emp = 1200
less_than_high_school_emp = 107

less_than_high_school_emp / total_emp

0.08916666666666667

In [3]:
# P(employe earns under $20,000) = The probability of a employee that earn under $20,000

total_under_20000 = 296

total_under_20000 / total_emp

0.24666666666666667

In [4]:
#  P(employee earns over $30,000 and has less than a high school education) = The probability of an employee that earn over $30,000 with a less than high school level education

hard_worker = 2
hard_worker / total_emp

0.0016666666666666668

In [5]:
# P(employee earns under $20,000 and has a college degree) = The probability of an employee that earn under $20,000 with a college degree

starving_graduates = 115
starving_graduates / total_emp

0.09583333333333334

In [6]:
#  P(H|E)
#  P(employee earns over $30,000 | has only high school education) = The probability of an employee that earn over $30,000 given with a high school education 
hs_emp = 224
emp_30000 = 404

#  P(H)
p_of_30000_emp = emp_30000 / total_emp

#  P(E)
p_of_hs_emp = hs_emp / total_emp

# P(H) * P(E)
numerator = p_of_30000_emp * p_of_hs_emp

#  P(E)
denominator = p_of_hs_emp

numerator / denominator

0.33666666666666667

In [7]:
numer = p_of_30000_emp * p_of_hs_emp

numer / p_of_hs_emp

0.33666666666666667

In [41]:
# P(employee has less than high school education | earns over $30,000) = The probability of an employee with a less than high school level education given that they earn over $30,000

#  P(H)
p_less_than_hs_emp = less_than_high_school_emp / total_emp

#  P(E)
p_over_30000 = emp_30000 / total_emp

# P(H) * P(E)
numerator = p_less_than_hs_emp * p_over_30000

numerator / p_over_30000

0.08916666666666667

In [9]:
classes_df = pd.read_csv('dataset/classes.csv')
classes_df

   Gender   Biology   Physics   Chemistry
0    Male        40        16          35
1  Female        15        24          20

In [10]:
males = 91
females = 59
total = males + females
# P(males) = probability of a new student being male
males / total

0.6066666666666667

In [11]:
# P(males or Chemistry) = probability of a new student being male or major in Chemistry

p_males = males / total
p_chemisty = 55 / total

p_males + p_chemisty

0.9733333333333334

In [42]:
# P(majors in Physics | male) = probability of a new student majoring in Physics given the chance that they are male

#  P(H) probability of majoring in Physics
p_physics = 40 / 150

#  P(E) probability of male
p_males

# P(H) * P(E)
numerator = p_physics * p_males

numerator / p_males

0.26666666666666666

In [13]:
arr = [5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
size = len(arr)
# P(integer) probability of being an interger
size / size

1.0

In [43]:
# P(P(less than 10 | less than 13) probability of the number beiing less than 10 given chance of being randomly picked that is less than 13

num_less_than_13 = size - 2

# P(H) probability of number less than 10
less_than_10 = len([x for x in arr if x < 10])
p_less_than_10 = less_than_10 / size

# P(E) probability of number is less than 13
p_less_than_13 = num_less_than_13 / size

# P(H) * P(E)
numerator = p_less_than_10 * p_less_than_13

numerator / p_less_than_13

0.5

In [44]:
# P(greater than 8 | less than 11) probability of the number being greater than 8 given chance of being randomly picked that is less than 11

num_less_than_11 = size - 4

# P(H) probability of number greater than 8
more_than_8 = len([x for x in arr if x > 8])
p_more_than_8 = more_than_8 / size

# P(E) probability of number is less than 11
p_less_than_11 = num_less_than_11 / size

# P(H) * P(E|H)
numerator = p_more_than_8 * p_less_than_11

numerator / p_less_than_11

0.6

In [45]:
# P(greater than 7 | greater than 12) probability of the number being greater than 7 given chance of being randomly picked that is greater than 12

num_more_than_12 = size - 3

# P(H) probability of number greater than 7
more_than_7 = len([x for x in arr if x > 7])
p_more_than_7 = more_than_7 / size

# P(E) probability of number is more than 12
p_more_than_12 = num_more_than_12 / size

# P(H) * P(E|H)
numerator = p_more_than_7 * p_more_than_12

numerator / p_more_than_12

0.7

<img src="images/walk_cycle.png"/>

In [17]:
# Maria travels to school either by walking or by bicycle. The probability she cycles to school is 0.75. If she walks the probability that she is late for school is 0.1 and if she cycles, the probability that she is late for school is 0.05.

# Find the probability that Maria is late for school.

walk = 0.25
cycle = 0.75

late_for_walking = 0.1
late_for_cycle = 0.05

(cycle  * late_for_cycle) + (walk * late_for_walking)

0.0625

<img src="images/dinner.png"/>

In [18]:
# Sharon and Lisa share an apartment. Sharon cooks dinner threenightsoutoften.If Sharon does not cook dinner, then Lisa does. If Sharon cooks dinner the probability that they have pasta is 0.75. If Lisa cooks dinner the probability that they have pasta is 0.12.

# Find the probability that Lisa cooks dinner and they do not have pasta.
sharon = 0.3
lisa = 0.7

sharon_pasta = 0.75
lisa_pasta = 0.12

(lisa * (1 - lisa_pasta))

0.616

In [19]:
# Find the probability they do not have pasta.

sharon_no_pasta = (sharon * (1 - sharon_pasta))
lisa_no_pasta = (lisa * (1 - lisa_pasta))
sharon_no_pasta + lisa_no_pasta

0.691

In [20]:
# P(Find the probability that Lisa cooked dinner | Given that they do not have pasta)

# P(H)
p_of_no_pasta = sharon_no_pasta + lisa_no_pasta

# P(E)
p_lisa_cook = 7/10

# P(H) * P(E|H)
numerator = p_lisa_cook * p_of_no_pasta

numerator / p_lisa_cook

0.691

In [21]:
letters = "AARDVARK"
total = len(letters)

# P(the letter chosen is a vowel | the letter falls in the first half of the alphabet)
p_vowel = 3 / total 

p_first_half = (total/2) / total

numerator = p_vowel * p_first_half
numerator / p_first_half

0.375

In [22]:
# P(the letter falls in the first half of the alphabet | letter chosen is a vowel)
p_vowel = 3 / total 

p_first_half = (total/2) / total

numerator = p_vowel * p_first_half
numerator / p_vowel

0.5

In [23]:
# A softball game has an 80% chance of being canceled for a light drizzle and a 30% chance of being canceled for a heavy fog when there is no drizzle. There is a 70% chance of heavy fog and a 30% chance

# a) Find the probability that the game will be canceled.
p_drizzle = 0.3
p_fog = 0.7

p_fog_cancel = 0.3
p_drizzle_cancel = 0.8

# Cancel probability
(p_fog * p_fog_cancel) * (p_drizzle * p_drizzle_cancel)

0.05039999999999999

In [24]:
# b) Find the probability there will be a light drizzle and the game will not be canceled.

p_drizzle * p_drizzle_cancel

0.24

<img src='Images/XXX.png'/>

In [25]:
# Given two events X and Y: Event X has probability 5/6. If event X happens, then the probability of event Y is  2/5. If event X does not happen, then the probability of event Y is 1/4.

# P(not X)
p_of_not_x = 1/6
p_of_not_x

0.16666666666666666

In [26]:
# P(Y | (not X))

p_of_y = ((5/6) * (2/5)) + ((1/6) * (1/4))

numerator = p_of_y * p_of_not_x

numerator / p_of_not_x

0.375

In [27]:
# P(not X | X)

p_of_not_x

p_of_x = 5/6

numerator = p_of_not_x * p_of_x

numerator / p_of_x

0.16666666666666666

In [28]:
# P(X and Y)

(5/6) * (2/5)

0.33333333333333337

In [29]:
# P(not X and not Y)
p_of_not_y = ((5/6) * (3/5)) * ((1/6) * (3/4))
p_of_not_x * p_of_not_y

0.010416666666666666

In [30]:
leisure_df = pd.read_csv('dataset/leisure.csv')
leisure_df

   Gender   Sports   Hiking   Texting   Shopping   Other
0  Female       39       48        62         71      29
1    Male       67       58        76         54      39

In [31]:
total = 543
men = 294
women = 299

In [50]:
# P(female | sports)
sports = 106
p_of_sports = sports / total

p_of_female = women / total 

numerator = p_of_sports * p_of_female

numerator / p_of_female

0.19521178637200737

In [52]:
# P(sports | female)

p_of_sports = sports / total

p_of_female = women / total 

numerator = p_of_sports * p_of_female

numerator / p_of_sports

0.5506445672191529

In [53]:
# P(reading | male)

readings = 161
p_of_reading = readings / total 

p_of_male = men / total 

numerator = p_of_reading * p_of_male

numerator / p_of_male

0.2965009208103131

In [54]:
# P(male | reading)

numerator / p_of_reading

0.5414364640883977

In [61]:
# P(hiking | male)

hikings  = 106
p_of_hiking = hikings / total

numerator = p_of_male * p_of_hiking

numerator / p_of_male

0.5414364640883977

0.19521178637200737

In [60]:
# P(hiking | female)

numerator = p_of_hiking * p_of_female

numerator / p_of_female

0.5506445672191529

0.19521178637200737

In [63]:
# P(male | shopping)

shoppings = 139

p_of_shopping = shoppings / total 

numerator = p_of_male * p_of_shopping

numerator / p_of_shopping

0.5414364640883977

In [64]:
# P(female | shopping)

numerator = p_of_female * p_of_shopping

numerator / p_of_shopping

0.5506445672191529

In [68]:
# The senior class is 55% female, and 32% are females who play a competitive sport. Find the probability that a student plays a competitive sport, given that the student is female.

female = 0.55
male = 0.45

female_play_sports = 0.32
female_dont_play_sports = 0.68

# P(sports | female)

numerator = female * female_play_sports
numerator / female_play_sports

0.55