In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from scipy import stats

data = np.array([1, 3, 5, 2, 3, 7, 8, 4, 10, 0, 6, 7, 3, 0, 3, 0, 5, 7, 10, 1, 4, 9, 3])

print(np.mean(data))
print(np.median(data))

mode = stats.mode(data) 
print(mode)

4.391304347826087
4.0
ModeResult(mode=array([3]), count=array([5]))

In [10]:
df = pd.DataFrame([[10, 20, 30, 40], [7, 14, 21, 28], [55, 15, 8, 12],
                   [15, 14, 1, 8], [7, 1, 1, 8], [5, 4, 9, 2]],
                  columns=['Apple', 'Orange', 'Banana', 'Pear'],
                  index=['Basket1', 'Basket2', 'Basket3', 'Basket4',
                         'Basket5', 'Basket6'])

print(df.describe())

Apple     Orange     Banana       Pear
count   6.000000   6.000000   6.000000   6.000000
mean   16.500000  11.333333  11.666667  16.333333
std    19.180719   7.257180  11.587349  14.555640
min     5.000000   1.000000   1.000000   2.000000
25%     7.000000   6.500000   2.750000   8.000000
50%     8.500000  14.000000   8.500000  10.000000
75%    13.750000  14.750000  18.000000  24.000000
max    55.000000  20.000000  30.000000  40.000000

In [19]:
titantic_df = pd.read_csv('dataset/titanic.csv').dropna()
children = pd.DataFrame(titantic_df['Age'] < 16)
children.shape

(183, 1)