In [1]:
import pandas as pd

df = pd.read_csv('dataset/conditional_probability.csv')
df

      Level of Education  Under $20000  $20000 to $30000  Over $30000
0  Less than high school            69                36            2
1            High School           112                98           14
2           Some College           102               193          143
3           Some College            13               173          245

In [2]:
# P(employee has less than a high school education) = The probability of a employee that had less than a high school education

total_emp = 1200
less_than_high_school_emp = 107

less_than_high_school_emp / total_emp

0.08916666666666667

In [3]:
# P(employe earns under $20,000) = The probability of a employee that earn under $20,000

total_under_20000 = 296

total_under_20000 / total_emp

0.24666666666666667

In [4]:
#  P(employee earns over $30,000 and has less than a high school education) = The probability of an employee that earn over $30,000 with a less than high school level education

hard_worker = 2
hard_worker / total_emp

0.0016666666666666668

In [5]:
# P(employee earns under $20,000 and has a college degree) = The probability of an employee that earn under $20,000 with a college degree

starving_graduates = 115
starving_graduates / total_emp

0.09583333333333334

In [16]:
#  P(H|E)
#  P(employee earns over $30,000 | has only high school education) = The probability of an employee that earn over $30,000 with a high school education 
outstanding_highschooler = 14
emp_30000 = 404
emp_without_30000 = total_emp - emp_30000

#  P(H)
p_of_30000_emp = emp_30000 / total_emp
print(p_of_30000_emp)

# P(¬ H)
p_of_not_30000_emp = emp_without_30000 / total_emp
print(p_of_not_30000_emp)

#  P(E)
p_of_low_level_emp = less_than_high_school_emp / total_emp
print(p_of_low_level_emp)

# P(E|H)
p_of_low_level_emp_with_30000 =  (total_emp * p_of_30000_emp) * p_of_low_level_emp
print(p_of_low_level_emp_with_30000)

# P(E|¬ H)
p_of_low_level_emp_without_30000 =  (total_emp * p_of_not_30000_emp) * p_of_low_level_emp
print(p_of_low_level_emp_without_30000)

# P(H) * P(E|H)
numerator = p_of_30000_emp * p_of_low_level_emp_with_30000
print(numerator)

# (P(H) * P(E|H)) * (P(¬H) * P(E|¬ H)) 
denominator = numerator + (p_of_not_30000_emp * p_of_low_level_emp_without_30000)
print(denominator)

numerator / denominator

0.33666666666666667
0.6633333333333333
0.08916666666666667
36.02333333333333
70.97666666666667
12.127855555555556
59.20904444444445

0.20483113127986827

In [17]:
# Problem above but with simplified denominator
numerator / p_of_low_level_emp
# 136.01333333333332 ???? Why though?

136.01333333333332

In [29]:
2 / 107

0.018691588785046728

In [30]:
91 / 150

0.6066666666666667

In [31]:
(91 + 55) / 150

0.9733333333333334

In [32]:
35 / 55

0.6363636363636364

In [33]:
arr = [5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

p = 1
total  = len(arr)

In [34]:
count = 0
for v in arr:
    if v < 10:
        count += 1

count / total

0.5

In [35]:
count = 0 
for v in arr:
    if v > 8 and v < 11:
        count += 1

count / total

0.2

In [36]:
count = 0 
for v in arr:
    if v > 12:
        count += 1

count / total

0.2

In [37]:
walk = 0.25
cycle = 0.75

late_for_walking = 0.1
late_for_cycle = 0.05

(cycle  * late_for_cycle) + (walk * late_for_walking)

0.0625

In [38]:
sharon = 0.3
lisa = 0.7

sharon_pasta = 0.75
lisa_pasta = 0.12

1 - (lisa * lisa_pasta)

0.916

In [39]:
1 - ((sharon * sharon_pasta) + (lisa * lisa_pasta))

0.6910000000000001

In [40]:
7 / 10

0.7

In [41]:
letters = "AARDVARK"
total = len(letters)

def create_hist(arr):
    result = {}
    for v in arr:
        if v not in result:
            result[v] = 1
        else: 
            result[v] += 1

    return result

first_half = letters[0:4]

first_half_dict = create_hist(first_half)
second_half = letters[4:]
second_half_dict = create_hist(second_half)
letter_a = 3

# a)
(letter_a / total) * (first_half_dict['A'] / len(first_half))

0.1875

In [42]:
# B) 
(4 / total) * (2 / len(first_half))

0.25

In [43]:
#              softball game
#           70% /         \ 30%
#              /           \
#         heavy fog    light drizzle
#       30% / \ 70%       80% / \ 20%
#          /   \             /   \
#  cancel  not cancel   cancel  not cancel

In [44]:
(0.70 * 0.30) + (0.3 * 0.80)

0.44999999999999996

In [45]:
(0.3 * 0.2)

0.06

In [46]:
#          5/6  /         \ 1/ 6
#              /           \
#            X              Y
#       2/5 / \ 3/5    3/4 / \ 1/4
#          /   \          /   \
#         X     Y       X       Y

In [47]:
# Not X
(1/6) * (1/4)

0.041666666666666664